@import 'sass/variables';

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.rowCenter {
  justify-content: center
}

.columnCenter {
  align-content: center;
}
