@mixin content($percent: 90%) {
    width: $percent;
    margin-left: auto;
    margin-right: auto;
}

@mixin button($color) {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $color;
    cursor: pointer;

    @include tablet {
        font-size: 12px;
    }

    @include mobile {
        font-size: 12px;
    }
}

@mixin navButton($color) {
    @include button($color);
    margin-right: 5px; 

    @include tablet {
        padding-bottom: 11px;
    }

    @include mobile {
        padding-bottom: 11px;
    }
}

@mixin dropDown($background-color, $font-size){
    position: relative;
    display: inline-block;

    &--container{
        display: none;
        position: absolute;
        background-color: $background-color;
        min-width: 100px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 10px;
    }

    &--link {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: $font-size;
    }

    &--show{
        display: block
    }  
    
    &--right {
        right: 5px;
        }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-max) and  (min-width: $tablet-min) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}