.form {
    &__row {
        margin-bottom: 15px;
    }

    &__label{
        font-size: 14px;
    }

    &__input {
        width: 100%;
        font-size: 16px;
        outline: none;

        &--error{
            outline-color: $primary;
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
    }

    &__error{
        background-color: $primary;
        width: 100%;
        margin-top: 5px;
        padding: 2px 2px 2px 4px;
        font-size: 14px;
    }

    &__submit {
        margin-bottom: 30px;
        margin-top: 30px;
    
        &--button{
            @include button($primary);
            border-radius: 5px;
            border: none;
            font-size: 16px;
            font-family: 'Nunito', sans-serif;
        }
    }

    &__link {
        color: #fff;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }
}