.header{
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: AmesRegular;
    background-color: $primary-dark;

    &__content{    
        &--left,
        &--right{
            display: inline-block;
        }

        &--left{
            margin-left: 60px;
        }

        &--right{
            float: right;

            @include mobile {
            }
        }
    }

    &__nav{
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        background: $primary;
        margin-right:5px;

        &:first-child{
            border-top-left-radius: 5px; 
        }
        &:last-child{
            border-top-right-radius: 5px;
            margin-right: none;
        }
    }

    &__image{
        height: 50px;
        position: absolute;
        top: 5px;
        left: 3px;
        clip: rect(0px,52px, 200px,0px);
    }
}