.header {
    padding-top: 35px;
    font-family: Ames;
    background-color: $primary-dark;

    &__content {    
        padding-bottom: 10px;
        
        &--left,
        &--right {
            display: inline-block;
        }

        &--left {
            margin-left: 75px;

            @include tablet {
                margin-left: 60px;
            }
        
            @include mobile {
                margin-left: 60px;
            }
        }

        &--right {
            float: right;
        }
    }

    &__image {
        height: 50px;
        position: absolute;
        top: 5px;
        left: 3px;
        clip: rect(0px,52px, 200px,0px);
    }
}