.nav {
    padding-left: 0;
    margin-bottom: 0;

    &__item {
        &--link,
        &--user-controls {
            @include navButton($primary); 

            &:first-child {
                border-top-left-radius: 5px; 
            }
        
            &:last-child {
                border-top-right-radius: 5px;
            }
        }

        &--active {            
            background-color: $primary-darker;
        }
        
    }

    &__dropdown {
        @include dropDown($grey, 14px);
    }
}

@include mobile {
    .nav{
        &__item {
            &--link {
                border-top-left-radius: 5px; 
                border-top-right-radius: 5px;
            }
        }
    }
}