.nav {
    padding-left: 0;
    margin-bottom: 0;

    &__item {
        display: inline-block;
        list-style: none;
        
        &--link,
        &--user-controls {
            @include navButton($primary); 
        }

        &--active {            
            background-color: $primary-darker;
        }

        &--first {
            border-top-left-radius: 5px; 
        }
    
        &--last {
            border-top-right-radius: 5px;
        }
    }
}

@include mobile {
    .nav{
        &__item {

            &--link {
                display: none;
            }

            &--menu {
                @include navButton($primary);
                border-top-left-radius: 5px; 
                border-top-right-radius: 5px;
            }
        }
    }
}