.panel{
    display: inline-block;
    text-align: center;
    background-color: $primary;
    border: $primary-dark 5px solid;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover{
        background: $primary-darker;
    }

    &__title{
        color: #fff;
    }
    
    &__icon{
        font-size: 12em;
        color: #fff;
    }
}