@font-face {
  font-family: AmesRegular;
  src: url(/fonts/Ames-Regular.otf?f331d7366bfcc6a0a9b66519f3bce851);
}

@font-face {
  font-family: BluefishRegular;
  src: url(/fonts/Bluefish_Regular.otf?9f2d7de77c2b950713dbe93aaa259060);
}

@font-face {
  font-family: LGC;
  src: url(/fonts/Louis_George_Cafe.ttf?a617b62cd8089465865a37c676da00e2);
}

.header {
  padding-top: 35px;
  font-family: AmesRegular;
  background-color: #4b1312;
}

.header__content {
  padding-bottom: 10px;
}

.header__content--left,
.header__content--right {
  display: inline-block;
}

.header__content--left {
  margin-left: 75px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .header__content--left {
    margin-left: 60px;
  }
}

.header__content--right {
  float: right;
}

.header__image {
  height: 50px;
  position: absolute;
  top: 5px;
  left: 3px;
  clip: rect(0px, 52px, 200px, 0px);
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
}

.nav__item {
  display: inline-block;
  list-style: none;
}

.nav__item--active {
  background-color: #892321;
}

.nav__item--link,
.nav__item--user-controls {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #b22d2b;
  margin-right: 5px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .nav__item--link,
  .nav__item--user-controls {
    font-size: 12px;
    padding-bottom: 11px;
  }
}

@media (max-width: 480px) {
  .nav__item--link,
  .nav__item--user-controls {
    font-size: 12px;
    padding-bottom: 11px;
  }
}

.nav__item--first {
  border-top-left-radius: 5px;
}

.nav__item--last {
  border-top-right-radius: 5px;
}

@media (max-width: 480px) {
  .nav__item--link {
    display: none;
  }

  .nav__item--menu {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #b22d2b;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

@media (max-width: 480px) and (max-width: 767px) and (min-width: 480px) {
  .nav__item--menu {
    font-size: 12px;
    padding-bottom: 11px;
  }
}

@media (max-width: 480px) and (max-width: 480px) {
  .nav__item--menu {
    font-size: 12px;
    padding-bottom: 11px;
  }
}

@media (min-width: 767px) {
  .hidden__desktop {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .hidden__tablet {
    display: none;
  }
}

@media (max-width: 480px) {
  .hidden__mobile {
    display: none;
  }
}

body {
  margin: 0;
  font-family: LGC;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

