// Variables
@import "utils/variables";
@import "fonts/fonts";
@import "utils/mixins";

@import "components/header";
@import "components/nav";
@import "components/hidden";
@import "components/form";
@import "components/panel";

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.content{
    @include content();
    margin-top: 20px;

    &__form{
        @include content(50%);
        border: $primary 5px solid;
        background: $primary-dark;
        color: #fff;
        padding: 10px 20px;
    }
}