@font-face {
    font-family: AmesRegular;
    src: url(../fonts/Ames-Regular.otf);
}

@font-face {
    font-family: BluefishRegular;
    src: url(../fonts/Bluefish_Regular.otf);
}

@font-face {
    font-family: LGC;
    src: url(../fonts/Louis_George_Cafe.ttf);
}