@font-face {
    font-family: Ames;
    src: url(../fonts/Ames-Regular.otf);
}

@font-face {
    font-family: Bluefish;
    src: url(../fonts/Bluefish_Regular.otf);
}

@font-face {
    font-family: LGC;
    src: url(../fonts/Louis_George_Cafe.ttf);
}