@import 'sass/variables';
.list {
  margin: 0;
  padding: 0;
}

.scrolling {
  overflow-y: scroll;
  max-height: 60px;
  padding-right: $rhythm;

  /* width */
  &::-webkit-scrollbar {
    width: $rhythm;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
